
<div class="container">
  <% @posts.each do |post| %>
  <div class = "contenedor">
    <h1><%=link_to post.title, post_path(post) %></h1>
    <% time_diff_components = Time.diff(post.created_at, Time.now) %>

    <p class = "info">Publicado por <b><%= post.author %></b> alrededor de las <b> <%=time_ago_in_words(Time.now + 2.months + 5.hours + 6.minutes + 7.seconds) %></b></p>

    <%renderer = Redcarpet::Render::HTML.new(no_links: true, hard_wrap: true)%>
    <%markdown = Redcarpet::Markdown.new(renderer, extensions = {})%>
    <%=markdown.render(post.content[0..250]).html_safe%>
    <% if user_signed_in? %>
      <% if post.author == current_user.email %>
        <%=link_to "Editar", edit_post_path(post), class: "link"  %>
        <%=link_to "Eliminar", post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" }, class: "link"  %>
      <%end%>
      <br><br>

    <%end%>
    </div>
  <%end%>

</div>
