<div class="container">
  <% @posts.each do |post| %>
  <div class = "contenedor">
    <h1><%=link_to post.title, post_path(post) %></h1>
    <p class = "info">Publicado por <b><%= post.author %></b> alrededor de las <b><%= post.created_at %></b></p>
    <p><%= post.content[0..250] %>...</p>
    <% if user_signed_in? %>
      <% if post.author == current_user.email %>
        <%=link_to "Editar", edit_post_path(post), class: "link"  %>
        <%=link_to "Eliminar", post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" }, class: "link"  %>
      <%end%>
      <br><br>

    <%end%>
    </div>
  <%end%>

</div>
