<div class="container">
  <%= link_to "Volver", posts_path, class: "claseVolver"%>
  <h1><%=@post.title %></h1>
  <p>Publicado por <b><%= @post.author %></b> alrededor de las <b><%= @post.created_at %></b></p>
  <p><%= @post.content %></p>

<h2>Comentarios</h2>
<div class="comment_section">
  <% if @comments.empty?%>
    <p>No hay comentarios en este post</p>
    <%else%>
  <% @comments.each do |commentario| %>
  <div class ="comentarios">
    <p class ="comentador"><b ><%=commentario.author%></b> comentó:</p>
    <p class= "comentario"><%= commentario.comment %></p>
    </div>
    <%end%>
  <%end%>
</div>


</div>
